[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
numpy = "*"
ipython = "*"
dlib = "*"
pillow = "*"
ninja = "*"
torchvision = "*"
gdown = "*"
scikit-image = "*"
opencv-python = "*"
django = "*"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.11"
